@model CoStudyCloud.Core.ViewModels.DocumentIndexViewModel

@{
    ViewData["Title"] = "Documents";
}

<section class="table-section">
    <div class="row justify-content-center">
        <div class="col-12 mb-5">
            <div class="section-title text-center">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="section-buttons">
                <a asp-action="Upload" class="btn btn-success">
                    <span class="fa fa-plus"></span>
                    Upload
                </a>
            </div>
        </div>
        <div class="col-12">

            @if (Model.DocumentWithOwnerStatusViewModels != null)
            {
                <table id="jq-table" class="table table-striped table-bordered dt-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(x => x.DocumentWithOwnerStatusViewModels!.Single().Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.DocumentWithOwnerStatusViewModels!.Single().StudyGroupTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.DocumentWithOwnerStatusViewModels!.Single().UserFullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.DocumentWithOwnerStatusViewModels!.Single().CreateDate)
                            </th>
                            <th class="no-sort">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var document in Model.DocumentWithOwnerStatusViewModels)
                        {
                            <tr role="row">
                                <td>@document.Title</td>
                                <td>@document.StudyGroupTitle</td>
                                <td>@document.UserFullName</td>
                                <td>@document.CreateDate</td>
                                <td>
                                    <a href="@document.FileUrl" class="btn btn-primary table-btn" title="Open">
                                        <span class="fa fa-file-alt"></span>
                                    </a>

                                    @if (document.IsOwned)
                                    {
                                        <a class="btn btn-danger table-btn" title="Delete">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

        </div>
    </div>
</section>
